/* Write your code here. */
*{
    color: white;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.score-topscore-container{
    display: flex;

}
.nav-logo-container{
    display: flex;
}
.nav-logo-name{
font-weight: 600;
}
.score{
    margin-right: 10px;
}